BETTER_AUTH_SECRET=""
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/snm_backend?schema=public"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
PORT=3001
APP_URL="http://localhost:3001"
CORS_ORIGIN="http://localhost:3000,http://localhost:3001"
TRUSTED_ORIGINS="http://localhost:3000,http://localhost:3001,shwe-nyar-myay://"
RATE_TIME_STAMP=60000
RATE_LIMIT_COUNT=120
AWS_REGION=""
AWS_ENDPOINT=""
AWS_S3_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_PUBLIC_BASE_URL=""
SEED_ADMIN_EMAIL="superadmin@snm.com"
SEED_ADMIN_PASSWORD="root64@Admin"
SUPER_ADMIN_ID=""
